body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
    min-height: 100vh;
    background: #08071d;
    justify-content: center;
    align-items: center;
    background: url('7.jpeg') no-repeat center center/cover;
}

h1 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

textarea {
    width: 98%;
    height: 200px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#results {
    display: none;
    margin-top: 20px;
}

.result {
    margin-bottom: 10px;
}

.keyword {
    font-weight: bold;
    color: #007bff;
}
